{erl_opts, [debug_info]}.
{deps, [%% hackney,
        %% opentelemetry_api]}.

        {opentelemetry_api, {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang",
                             {branch, "master"},
                             "apps/"}}]}.

{project_plugins, [{rebar_covertool, "1.1.0"}]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]},
                    {deps, [elli,
                            hackney,
                            {opentelemetry, {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang",
                                             {branch, "master"},
                                             "apps/"}}]}]}]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{ct_opts, [{ct_hooks, [cth_surefire]}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [opentelemetry_hackney]}
]}.
